*{
    padding: 0px;
    margin:0px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    overflow:hidden;
}
/* Estilos generales de estructura del sitio */
.header-container{
    width: 100%;
    height: 80px;
    /* background-color: skyblue; */
    /* float: right; */
    text-align: center;
}
.menu-container{
    width: 20%;
    height: 100vh;
    /* background-color: slategray; */
    float: left;
    /* border-right: 1px solid rgba(136, 135, 130, 0.521); */
}
.video-list-container{
    width: 80%;
    height: 200vh;
    background-color:rgba(245, 243, 243, 0.493);
    float: right;
    overflow:auto;
}
/* Fin de los estilos generales */
/* Estilos del header */
.header-top{
    width: 100%;
    height: 75px;
    overflow:hidden;
    border-bottom: 2px solid rgba(179, 167, 167, 0.432);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.yt-logo{
    width: 180px;
}
.yt-logo img{
    width: 50%;
}
.form-search{
    width: 50%;
}
.form-search form{
    display: flex;
}
.form-search input[type="search"]{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(180, 167, 167);
    padding-left: 5px;
}
.form-search input[type="search"]:focus{
    outline: none;
}
.form-search button{
    width: 70px;
    cursor: pointer;
}
.form-search button i{
    font-size: 20px;
}
.yt-op{
    width: 30% ;
    display: flex;
    flex-wrap: wrap;
}
.microphone-container, .yt-app, .settings-container {
    width: 50px;
    padding: 10px 0px;
    text-align: center;

}
.microphone-container i , .yt-app i , .settings-container{
    font-size: 20px;
    cursor: pointer;
}
.btn-login{
    width: 120px;

}
.btn-login button{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgb(43, 57, 248);
    background-color: white;
    color: rgb(43, 57, 248);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.header-down{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: white;

}
.header-down .recommended{
    background-color: rgba(214, 214, 214, 0.445);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    /* border-end-start-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
}
/* Fin de los estilos del header */

/* Menu lateral izquierdo */
.menu{
    width: 100%;
}

.m-primary, .m-secondary, .m-category{
    border-bottom: 1px solid rgba(172, 168, 168, 0.658);
    margin-bottom: 10px;
}
.menu li{
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    
    
}
.menu li:hover{
    background-color: rgba(172, 168, 168, 0.658);
}
.menu i{
    margin-right: 10px;
}
.menu a{
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: black;
    text-decoration: none;
}
/* FIn de menu lateral */
/* Estilos del los videos yt */
.video-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

}
.video-container{
    width: 350px;
    height: 300px;
    /* background-color: red; */
    overflow:hidden;
    cursor: pointer;

}
.video-thumbnail{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.video-thumbnail img{
    width: 100%;
}
.video-description{
    width: 100%;
    /* background-color: purple; */
    display: grid;
    grid-template-areas: "img title"
                        "img channel"
                        "img views"
    ;
    grid-template-columns: 50px auto ;
    grid-template-rows: 50px 20px 20px;
}
.video-img-channel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    grid-area: img;
}
.video-img-channel img{
    width: 100%;
    /* height: 100%; */
} 
.video-thumbnail img:hover{
    filter: brightness(.5);
}
.video-channel{
    grid-area: channel;
    margin-left: 10px;

}
.video-title{
    font-weight: bold;
    margin-left: 10px;
    grid-area: title;
}
.video-views{
    grid-area: views;
    margin-left: 10px;
}
/* Fin de los estilos */